#newsbg{
    background-image: url('../../assets/assets/bg-shadow.png');
    background-size: cover;
    background-color: white;
    background-repeat: no-repeat;
    border-radius:24px ;
    margin: 0 auto;
}