h3{
    font-size:18px ;
    font-weight: 600;
    margin-bottom:8px;
}
#email{
    border-radius: 50px 0 0 50px;
}
#subscribe{
    border-radius: 0 50px 50px 0;
}
.move{
    background-image: url('../../assets//assets/bg-shadow.png');
    position: absolute;
    background-repeat: no-repeat;
    top:-20%;
    left: 8%;
}